<%- include('blogpost/partials/landingheader'); -%>
<head>
    <link type="text/css" rel="stylesheet" href="Landing_Page/css/landingstyles.css">
</head>
<h3 class='landing2'>Congratulations, you have signed up!</h3>'
<script src="Landing_Page/index.js"></script>
<%- include('blogpost/partials/landingfooter'); -%>
