<%- include('blogpost/partials/landingheader'); -%>
<head>
    <link type="text/css" rel="stylesheet" href="Landing_Page/css/landingstyles.css">
</head>
<h2 class='landing2'>Sorry, please try again later!</h2>'
<script src="Landing_Page/index.js"></script>
<%- include('blogpost/partials/landingfooter'); -%>