<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300i,400,700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" href="css/landingstyles.css">
  </head>

  <body>
    
    <header class="header-nav">
      
        <div class="topnav" id='myTopnav'>
          <a>
            <img src="https://s3.amazonaws.com/freecodecamp/original_trombones.png?" alt="" id="header-img" class="nav-img ">
          </a>
          <a href="#feature">Features</a>
          <a href="#video">How It Works</a>
          <a href="#pricing">Pricing</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      
    </header>

    <div class="features" id="features">
      
      <div class="first-feature">
        <h1 class="feature-h1">Handcrafted, home-made masterpieces</h1>
      </div>
      <div class='feature-opt'>
        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/237/fire_1f525.png" alt="" class="ft-img">
        <h4 class="ft-h4">Premium Materials</h4>
        <p>Our trombones use the shiniest brass which is sourced locally. This will increase the longevity of your purchase.</p>
      </div>
      <div class="feature-opt">
        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/twitter/236/delivery-truck_1f69a.png" alt="" class="ft-img">
        <h4 class="ft-h4">Fast Shipping</h4>
        <p>We make sure you recieve your trombone as soon as we have finished making it. We also provide free returns if you are not satisfied.</p>
      </div>
      <div class="feature-opt">
        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/openmoji/213/battery_1f50b.png" alt="" class="ft-img">
        <h4 class="ft-h4">Quality Assurance</h4>
        <p>For every purchase you make, we will ensure there are no damages or faults and we will check and test the pitch of your instrument.</p>
      </div>
    </div>

    <div class="video" id="video">
      <iframe width="500" height="350" src="https://www.youtube.com/embed/y8Yv4pnO7qc"></iframe>
    </div>

    <div id="pricing" class="pricing-opt card-deck">
      <div class="price-option card">
        <div class="card-body">
          <h4 class='card-title'>TENOR TROMBONE</h4>
          <p class="card-text price">$600</p>
          <ul>
            <li class="card-text">Quick, sensitive response</li>
            <li class="card-text">2 interchangeable leadpipes</li>
            <li class="card-text">8" bell, Medium shank, Gold brass leadpipe</li>
            <li class="card-text">Drawn one-piece brass outer slide, Nickel-plated pistons</li>
          </ul>
          <button type="button" name="button" class="button btn btn-primary">SELECT</button>
        </div>
        
      </div>
      <div class="price-option card">
        <div class="card-body">
          <h4 class='card-title'>BASS TROMBONE</h4>
          <p class="card-text price">$900</p>
          <ul>
            <li class="card-text">Clear lacquer finish, Chrome-plated nickel silver inner slide</li>
            <li class="card-text">Yellow brass body and one piece yellow brass bell</li>
            <li class="card-text">Excellent student or professional instrument</li>
          </ul>
          <button type="button" name="button" class="button btn btn-primary">SELECT</button>
        </div>
        
      </div>
      <div class="price-option card">
        <div class="card-body">
          <h4 class='card-title'>VALVE TROMBONE</h4>
          <p class="card-text price">$1200</p>
          <ul>
            <li class="card-text">Plays similar to a Trumpet</li>
            <li class="card-text">Great for Jazz Bands</li>
            <li class="card-text">Tubular braces, Balancer, Pressure formed tubing  </li>
            <li class="card-text">Pluzuma welded bell, Bracing guards, Medium 0.5" bore</li>
          </ul>
          <button type="button" name="button" class="button btn btn-primary">SELECT</button>
        </div>
        
      </div>
    </div>

    <div  class="form-signin">
      <form action="/Landing_Page" method="POST">
        <h1 class="h3 mb-3 font-weight-normal form-h1">Sign up for our newsletter!</h1>
        <label for="fName" class="sr-only top">First Name</label>
        <input id='fName' type="text" name="fName" class="form-control top" placeholder="First Name" required>
        <label for="lName" class="sr-only middle">Last Name</label>
        <input  id='lName' type="text" name="lName" class="form-control middle" placeholder="Last Name" required >
        <label for="email" class="sr-only form-email bottom">Email</label>
        <input  id='email' type="email" name="email" class="form-control bottom" placeholder="Email" required >
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        
      </form>
    </div>
  
  